body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
}

.text {
  text-align: center;
  margin-top: 2rem;
}

.color-container {
  min-width: 450px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
